<!DOCTYPE html>
<html>

<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark unique-color">

        <!-- Navbar brand -->
        <a class="navbar-brand" href="#">Book Club</a>
    
        <!-- Collapse button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
            aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="basicExampleNav">
    
            <!-- Links -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/mail">Newsletter</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About us</a>
                </li>
    
                <!-- Dropdown 
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">Dropdown</a>
                  <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </div>
                </li>-->
    
            </ul>
            <!-- Links -->
    
            <form class="form-inline">
                <div class="md-form my-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                </div>
            </form>
        </div>
        <!-- Collapsible content -->
    
    </nav>
    <!--/.Navbar-->
    <head>
            <img class="img-fluid"
            src="{{ url_for('static', filename='images/books-header.jpg')}}">
            <!--Don't forget about all the great Bootsrap stuff you used in beginners!-->
        <title>Join our Mailing List!</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!--Link CSS files here - I've linked custom & BootStrap CSS files-->
		<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/mdb.min.css')}}">	
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">

 
    </head>

    <body>
    <div class=mailform>
    <div class="headtext">
    <div class="container">
        <br>
        <h1> Sign up below to join our mailing list! </h1>
    </div>

        <div class="container mt-4 mb-4">
                <div class="col-lg-12 col-md-12 mb-12">
            <form method="post" action="/signup"> <!-- use post to keep it private, as supposed to get which will put it in the url-->
                <label for="fname">Name:</label>
                <input type="fname" id="fname" name="fname" required="required"> <br>
                <label for="email">Email address:</label>
                <input type="email" id="email" name="email" required="required"> <br> <br>

                <h5> What genre's are you interested in? (Check all that apply)</h5>
                    <input type="checkbox" name="genre1" value="Romance"> Romance <br>
                    <input type="checkbox" name="genre2" value="Science Fiction"> Science Fiction <br>
                    <input type="checkbox" name="genre3" value="Fantasy"> Fantasy <br>
                    <input type="checkbox" name="genre4" value="Thriller"> Thriller <br>
                    <input type="checkbox" name="genre5" value="Mystery"> Mystery <br>
                    <input type="checkbox" name="genre6" value="Non-Fiction"> Non-Fiction <br>
                    <br>
                    <br>
                
                <h5> How often would you like to hear from us?</h5>
                <input type="radio" name="frequency" value="Weekly" checked> Weekly <br>
                <input type="radio" name="frequency" value="Monthly"> Montly <br> 
                <input type="radio" name="frequency" value="Quarterly"> Quarterly <br> <br>
               
  
                <input type="submit" value="Submit" id="submit-button"> 
            </form>
        </div> 
        </div>
    </div>  
    </div>
    </body>

    	<!--Link JavaScript files here - I've linked BootStrap abd JQuery JS files-->
	<script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/jquery-3.3.1.min.js')}}"></script>
    
</html>