<!DOCTYPE html>
<html>
    <head>
        <title>Submit Successful!</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!--Link CSS files here - I've linked custom & BootStrap CSS files-->
		<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/mdb.min.css')}}">
        <link rel="stylesheet" href="css/styles.css" >
    </head>

    <body>
    <div class="container text-center mt-4 mb-4">
    <div class="col-lg-12 col-md-12 mb-12">
        <br>
        <h1> Thank you for submitting! </h1>
        <p> Look out for some cool book recommendations coming to your inbox soon!</p>
        <img src="https://media.giphy.com/media/atcqQ5PuX41J6/giphy.gif" id="owlbook" alt="books coming your way!" width=600px>
    </div>  
    </div>
</body>

    <!--Link JavaScript files here - I've linked BootStrap abd JQuery JS files-->
<script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
<script src="{{url_for('static', filename='js/jquery-3.3.1.min.js')}}"></script>

</html>
    
