h1 {
  text-align: center;
}

body {
  background-color: burlywood;
  background-image: url(static/images/books-header.jpg);
  font-family: 'BioRhyme', serif;
}

p{
  font-family: 'BioRhyme', serif;
  background-color: steelblue;
  opacity: 0.5; 
}