div.mailform {
  position: relative;
  margin-right: 10%;
  margin-left: 10%;
  color: slategray;
  border-style: double;
  border-width: thick;
  background-color: linen;
} 


.headcontainer {
  text-align: center;
  color: black;
  text-transform: capitalize;
  font-variant: small-caps;
  font-style: oblique;
}

body {
  background-color: burlywood;
  background-image: url(static/images/books-header.jpg);
  font-family: 'BioRhyme', serif;
}

p{
  font-family: 'BioRhyme', serif;
  background-color: steelblue;
  opacity: 0.5; 
}