<!DOCTYPE html>
<html>

	<head>
		<title>Example Flask App</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!--Link CSS files here - I've linked custom & BootStrap CSS files-->
		<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/mdb.min.css')}}">
	</head>
	
	<body>

		<!--Don't forget about all the great Bootsrap stuff you used in beginners!-->
		<div class="container text-center mt-4 mb-4">
			<div class="col-lg-12 col-md-12 mb-12">
				<!--This is how you can link images-->
				<img class="img-responsive python-image mb-4" src="{{ url_for('static', filename='images/python.png')}}">
				<h4 class="card-title product-bold">This is another page :)</h4>
				<a class="btn btn-primary" href="/" role="button">Go back home</a>
			</div>
		</div>
	
	</body>
	
	<!--Link JavaScript files here - I've linked BootStrap abd JQuery JS files-->
	<script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
	<script src="{{url_for('static', filename='js/jquery-3.3.1.min.js')}}"></script>

</html>
